<template>
        <div class="panel panel-info">
            <div class="panel-heading">
              <StarbucksHeader menu="menu" header="header"> </StarbucksHeader>
            </div>
            <div class="back-panel text-left"> 
               <router-link :to="'/home'">
               <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
               </router-link>
            </div>
            <div class="panel-body">
             <StarbuckMap> </StarbuckMap>
            </div>
        </div>     
</template>

<script>

import StarbucksHeader from './starbucks/StarbucksHeader.vue'
import StarbuckMap from './starbucks/StarbuckMap.vue'

export default 
{
  data () {
    return {
       
    }
  },
  components: { StarbuckMap , StarbucksHeader }
   
}
</script>
<style>
.back-panel a{
    padding: 0px 30px;
    font-size: 20px;
    color: black;
    position: absolute;
    top: 98px;
}
</style>