<template>
        <div class="panel panel-info">
            <div class="panel-heading">
              <StarbucksHeader menu="menu" header="header"> </StarbucksHeader>
            </div>
            <div class="panel-body">
              <StarbucksList model="Starbucks" city="new_york" :circle="this.circle" :user_longitude="this.user_longitude" :user_latitude="this.user_latitude"></StarbucksList>
            </div>
        </div>     
</template>

<script>
import StarbucksList from './starbucks/StarbucksList.vue'
import StarbucksHeader from './starbucks/StarbucksHeader.vue'


export default 
{
  data () {
    return {
       circle : parseFloat(document.getElementById('circle').value)  ,
       user_latitude : parseFloat(document.getElementById('user_latitude').value) ,
       user_longitude : parseFloat(document.getElementById('user_longitude').value)  
    }
  },
  components: { StarbucksList  , StarbucksHeader 
  } 
}
</script>
