<template>
<div>

<router-link :to="'/details/'+starbuck.id+'/'+starbuck.distance" class="list-group-item "  v-animate-css="'fadeIn'" >
  <div class="media"> 
  <div class="media-left"> 
      <img alt="64x64" class="media-object" src="src/assets/logo.jpeg" data-holder-rendered="true" style="width: 64px; height: 64px;"> 
   </div> 
   <div class="media-body"> 
     <h4 class="media-heading">{{ starbuck.id}} - {{ starbuck.city}}</h4> <p>{{ starbuck.street}}</p> 
      <p v-if="starbuck.distance < 0.2">Less then 200 Meters</p> 
      <p v-else>{{ starbuck.distance}} KM</p> 
   </div> 
 </div>
 </router-link>

</div>
</template>

<script>

export default 
{
  props: 
  {
     starbuck : Object
  }
}
</script>
