<template>
  <div class="container-fluid">  
   <div class="panel panel-default text-left">
    <div class="panel-body">
      <address>
        <strong>Starbucks {{starbuck_item.id}}</strong><br>
        {{starbuck_item.street}}<br>
         New York, US </br>
         <span v-if="$route.params.distance < 0.2">Distance :  Less then 200 Meters</span> 
         <span v-else>Distance :  {{$route.params.distance}} KM</span> 

      </address>
    </div>
  </div>   
   <baidu-map style="height:400px; width: 100%;"  class="map" :center="this.point"  :zoom="35">
	    <bm-navigation anchor="BMAP_ANCHOR_TOP_RIGHT"></bm-navigation> 

      <bm-geolocation anchor="BMAP_ANCHOR_BOTTOM_RIGHT" :showAddressBar="true" :autoLocation="true"></bm-geolocation>
      <bm-marker   @click="infoWindowOpen" :position="this.point"
     
       :icon="{url:'./src/assets/starbucks.png', size: {width: 55, height: 35}}" 
      >
            <bm-info-window :position="this.point" :show="show" @close="infoWindowClose" @open="infoWindowOpen">
              <h4>Starbucks {{starbuck_item.id}}</h4>
              <i>{{starbuck_item.street}}</i>
            </bm-info-window> 
      </bm-marker>
  </baidu-map>
  </div>
</template>
<script>

import axios from 'axios'
if (document.getElementById('base_url')!= null && document.getElementById('base_url').value !=null && document.getElementById('base_url').value !=""){
  axios.defaults.baseURL = document.getElementById('base_url').value 
}
export default 
{
  data () {
    return {
         starbuck_item: [],
         show: true,
         point:{},
         mylocation:{}

    }
  },
  mounted () {
        axios.get('/starbuck/'+this.$route.params.id ,{params:{ type:this.model }}).then((response)=>{
           this.starbuck_item = response.data 
           this.point = {lng:this.starbuck_item.longitude,lat:this.starbuck_item.latitude}
           this.mylocation = {lng:this.starbuck_item.longitude+1,lat:this.starbuck_item.latitude}
        }) 
        .catch(function (error) {
             console.log(error);
        });
  },
  methods: {
    infoWindowClose () {
      this.show = false
    },
    infoWindowOpen () {
      this.show = true
    },

  }
   
}
</script>
