<template>
 
  <div class="container-fluid starbucks-header">  
      <h1> Starbucks</h1>
  </div>
</template>

<script>

</script>

<style>
  .starbucks-content{
          padding-left: 0;
          padding-right: 0px;
  }
  .map {
  width: 100%;
  height: 400px;
  }
  
</style>
