<template> 
  <div class="col-xs-12 starbucks-content list-group">
       <div class="panel panel-default text-left">
          <div class="panel-body">
              <b>Random Current User Info : </b>
              <p>Longitude : {{ user_longitude }}</p>
              <p>Latitude : {{ user_latitude }}</p>
              <p>City : New York</p>
              <p>Search Distance : at {{ circle }}  Km radius</p>
               <router-link class="btn btn-info" :to="'/home'">
               <span class="glyphicon glyphicon-list" aria-hidden="true"></span> List View
              </router-link>
          </div>
      </div>
       <baidu-map class="map" :center="{lng: this.user_longitude, lat: this.user_latitude}" :zoom="15">
        <bm-marker   @click="infoWindowOpen" :position="{lng: this.user_longitude, lat: this.user_latitude}"
     
       :icon="{url:'./src/assets/icon2.png', size: {width:35, height:49}}" 
      >
            <bm-info-window :position="{lng: this.user_longitude, lat: this.user_latitude}" :show="show" @close="infoWindowClose" @open="infoWindowOpen">
              <h4>You are Here</h4>
            </bm-info-window> 
      </bm-marker>

       <bm-navigation anchor="BMAP_ANCHOR_TOP_RIGHT"></bm-navigation> 
	    <bm-point-collection :points="points" 
	    color="red"  shape="BMAP_POINT_SHAPE_STAR" 
         size="BMAP_POINT_SIZE_BIGGER"
	     @click="clickHandler" >
	    </bm-point-collection>
	  </baidu-map>
    
  </div>
</template>

<script>

import axios from 'axios'
import Starbuck from './Starbuck.vue'
if (document.getElementById('base_url')!= null  && document.getElementById('base_url').value != null && document.getElementById('base_url').value !=""){
  axios.defaults.baseURL = document.getElementById('base_url').value 
}
export default 
{
  data () {
    return {
       starbucks: [],
       points: [],
       show: true,   
    }
  },
  components: { Starbuck },
  props: 
  {
     model : String,
     city : String ,
     user_latitude : Number,
     user_longitude : Number,
     circle : Number
  },
  mounted () {
         
        axios.get('/starbucks',{params:{circle:this.circle,latitude:this.user_latitude , longitude:this.user_longitude }}).then((response)=>{
           this.starbucks = response.data ;
           const points = [];
              response.data.map(function(value, key) {
			    const position = {distance:value.distance,id:value.id,lng: value.longitude, lat: value.latitude}
		        points.push(position)
			   });
		      this.points = points
        }) 
        .catch(function (error) {
             console.log(error);
        });
  },
  methods: {
    clickHandler (e) {
    	  const id = e.point.id
    	  const distance = e.point.distance
    	  this.$router.push({ path: "/details/"+ id+ "/"+ distance })
    },
    infoWindowClose () {
      this.show = false
    },
    infoWindowOpen () {
      this.show = true
    }

  }

   
}
</script>



