<template> 
  <div class="col-xs-12 starbucks-content list-group">
       <div class="panel panel-default text-left">
          <div class="panel-body">
              <b>Random Current User Info : </b>
              <p>Longitude : {{ user_longitude }}</p>
              <p>Latitude : {{ user_latitude }}</p>
              <p>City : New York</p>
              <p>Search Distance : at {{ circle }}  Km radius</p>
              <router-link class="btn btn-info" :to="'/viewmap'">
               <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Map View
              </router-link>
          </div>
      </div>
      <starbuck :starbuck="starbuck" v-for="starbuck in starbucks" > </starbuck>
  </div>
</template>

<script>

import axios from 'axios'
import Starbuck from './Starbuck.vue'
if (document.getElementById('base_url')!= null  && document.getElementById('base_url').value != null && document.getElementById('base_url').value !=""){
  axios.defaults.baseURL = document.getElementById('base_url').value 
}
export default 
{
  data () {
    return {
       starbucks: [],
    }
  },
  components: { Starbuck },
  props: 
  {
     model : String,
     city : String ,
     user_latitude : Number,
     user_longitude : Number,
     circle : Number
  },
  mounted () {
         
        axios.get('/starbucks',{params:{circle:this.circle,latitude:this.user_latitude , longitude:this.user_longitude }}).then((response)=>{
           this.starbucks = response.data 
        }) 
        .catch(function (error) {
             console.log(error);
        });
  }
   
}
</script>



