#app{font-family:Avenir,Helvetica,Arial,sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;text-align:center;color:#2c3e50;margin-top:0px}.starbucks-content{padding-left:0;padding-right:0}.map{width:100%;height:400px}.back-panel a{padding:0 30px;font-size:20px;color:#000;position:absolute;top:40px}
/*# sourceMappingURL=app.d551159dac9c9e89f69abc1756a2283e.css.map */